<% @songs.each do |song| %>

<div class="search_div">

  <div class="search_info">
    <h2><%= song[:title] %></h2>
  </div>
  <img src="<%= song[:artwork_url]%>" alt="">

  <form action="/songs/save" method="post">
    <%= token_tag %>
    <input type="hidden" name="track_id" value="<%= song[:itunes_song_id] %>" >
    <button type="submit">Save</button>
  </form>

</div>

<% end %>
